@import "../variables";

.about__items {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;

  .block__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    padding: 2em;
    margin: 2%;

    .item__image {
      margin: 20px;
      font-size: 15em;
      color: $red;
    }
  }

  .block__item:hover{
    transform: scale(1.1);
    background: $gradient;
    color: $white;
    border-radius: 3em;

    .item__image {
      color: $white;
    }
  }
}