@import '../variables';

.contacts__map {
  width: 100%;

  iframe {
    width: 100%;
  }
}

.contact__page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .page__block {
    width: 50%;
  }
}

.contacts__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .fa {
    font-size: 3em;
  }

  .item__row {
    display: flex;
    flex-direction: column;
  }

  .item__row:hover {
    transform: scale(1.2);
  }
}