@import '../variables';

.price-card {
  border: black 2px solid;
  box-shadow: 3px 3px black;
}

.sales-card {
  border: black 2px solid;
  box-shadow: 3px 3px $red;
}

.main__content {
  padding: 2em;

  .card__list {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .card {
      width: 30%;

      .card-header {
        color: $white;
        background: $gradient;
      }

      .card__price {
        font-size: 2em;
        font-weight: bold;
        color: $red;
      }
    }

    .card:hover {
      transform: scale(1.1);
      transition: 0.8s;
      box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
    }
  }
}