@import "../variables";

.services__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .services__image {
    display: flex;
    width: 33%;
    padding: 1em;

    img {
      width: 100%;
    }

    img:hover {
      transform: scale(1.1);
      transition: 0.8s;
    }
  }
}

.services__items {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .block__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 46%;
    padding: 2em;
    margin: 2%;

    .item__image {
      margin: 20px;
      font-size: 15em;
      color: $gradient;
    }
  }

  .block__item:hover {
    transform: scale(1.1);
    transition: 0.8s;
    background: $gradient;
    color: $white;
    border-radius: 3em;
  }
}